# Instalando Bibliotecas

In [2]:
!pip3 install pandas pyarrow

Requirement already satisfied: pandas in /home/rizzi26/Documents/Github/faculdade/2024-2A-T08-EC07-G05/src/notebooks/venv/lib64/python3.12/site-packages (2.2.2)
Requirement already satisfied: pyarrow in /home/rizzi26/Documents/Github/faculdade/2024-2A-T08-EC07-G05/src/notebooks/venv/lib64/python3.12/site-packages (17.0.0)
Requirement already satisfied: numpy>=1.26.0 in /home/rizzi26/Documents/Github/faculdade/2024-2A-T08-EC07-G05/src/notebooks/venv/lib64/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/rizzi26/Documents/Github/faculdade/2024-2A-T08-EC07-G05/src/notebooks/venv/lib64/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/rizzi26/Documents/Github/faculdade/2024-2A-T08-EC07-G05/src/notebooks/venv/lib64/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/rizzi26/Documents/Github/faculdade/2024-2A-T08-EC07-G05/src/notebooks/venv/lib64/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/rizzi26/Documents/Github/faculdade/2024-2A-T08-EC07-G05/src/notebooks/venv/lib64/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd    # Manipulação de dados
import numpy as np     # Operações numéricas
import requests        # Requisições HTTP
import io              # Manipulação de streams
import re              # Expressões regulares

# Processamento da tabela Predict-1

In [4]:
df = pd.read_csv('../../../data/csv/FALHAS_PREDICT-1.csv')  # Carrega o arquivo CSV em um DataFrame
df = pd.DataFrame(df)                                       # Garante que o objeto seja um DataFrame
df.head()                                                   # Exibe as primeiras linhas do DataFrame

/tmp/ipykernel_62481/3281446606.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../../../data/csv/FALHAS_PREDICT-1.csv')

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,KNR,MODELO,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,S_GROUP_ID,DATA
1,NaN,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PARALAMA DIANTEIRO 01. AMASSADO,5,20/5/2024 21:05:52
2,NaN,2023-2056234,T-CROSS,2R2R,DHS,HCEQS506,4013334,ZP7,PORTA TRASEIRA 04. CAROÇO / PICO,4,20/5/2024 21:05:23
3,NaN,2023-2056234,T-CROSS,2R2R,DHS,PCEQS100,4004554,ZP5,PORTA DIANTEIRA SOLDA - RESPINGO,4,6/12/2023 06:12:30
4,NaN,2023-2056234,T-CROSS,2R2R,DHS,PCEQS114,2020297,ZP5,CINTO DE SEGURANÇA - FIXAÇÃO ASSOALHO ROSCA NOK,2,5/12/2023 21:12:33

In [5]:
df.columns # Mostra as colunas presentes em meu dataset

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10'],
      dtype='object')

In [6]:
df = df.drop('Unnamed: 0', axis=1)  # Remove a coluna 'Unnamed: 0'
df = df.drop(0)                     # Remove a primeira linha do DataFrame
df = df.rename(columns={            # Renomeia as colunas do DataFrame
    'Unnamed: 1': 'KNR',
    'Unnamed: 2': 'MODELO',
    'Unnamed: 3': 'COR',
    'Unnamed: 4': 'MOTOR',
    'Unnamed: 5': 'ESTACAO',
    'Unnamed: 6': 'USUARIO',
    'Unnamed: 7': 'HALLE',
    'Unnamed: 8': 'FALHA',
    'Unnamed: 9': 'S_GROUP_ID',
    'Unnamed: 10': 'DATA'
})

In [7]:
df['MODELO'].value_counts() # Conta a quantidade de cada tipo de diferentes modelos de carros

MODELO
T-CROSS    758916
Name: count, dtype: int64

In [8]:
df.drop(columns='MODELO', inplace=True) # Remove a coluna MODELO

In [9]:
df.drop_duplicates(inplace=True) # Remove duplicadas

In [10]:
df['FALHA'].value_counts() # Conta cada tipo de falha

FALHA
Painel lateral 05. Sujeira na pintura                               25471
Painel lateral 04. Caroço / Pico                                    24218
Painel lateral 01. Amassado                                         14914
Painel lateral Sujeira na pintura                                   14372
PAINEL LATERAL 05. SUJEIRA NA PINTURA                               13900
                                                                    ...
CONECTOR PRINCIPAL TAMPA TRASEIRA DESCONECTADO                          1
PINO TUCKER 063 FALTA ¨                                                 1
Cinto de segurança tras - Conjunto Não trava                            1
Rev. porta - Clip de pressão Solto(a) ¨                                 1
Etiqueta de pressão dos pneus (tampa do tanque) Peça Incorreta ¨        1
Name: count, Length: 6581, dtype: int64

In [11]:
df['FALHA'] = df['FALHA'].str.upper()  # Converte todos os valores da coluna 'FALHA' para maiúsculas
df[['PEÇA', 'FALHA_PEÇA']] = df['FALHA'].str.split(' ', expand=True, n=1)  # Divide 'FALHA' em 'PEÇA' e 'FALHA_PEÇA'

df['HALLE'] = df['HALLE'].str.split(' ').str[0]  # Mantém apenas o primeiro elemento após dividir 'HALLE' por espaço

In [12]:
df.head(20) # Observando as novas colunas criadas

,KNR,COR,MOTOR,ESTACAO,USUARIO,HALLE,FALHA,S_GROUP_ID,DATA,PEÇA,FALHA_PEÇA
1,2023-2056234,2R2R,DHS,HCEQS506,4013334,ZP7,PARALAMA DIANTEIRO 01. AMASSADO,5,20/5/2024 21:05:52,PARALAMA,DIANTEIRO 01. AMASSADO
2,2023-2056234,2R2R,DHS,HCEQS506,4013334,ZP7,PORTA TRASEIRA 04. CAROÇO / PICO,4,20/5/2024 21:05:23,PORTA,TRASEIRA 04. CAROÇO / PICO
3,2023-2056234,2R2R,DHS,PCEQS100,4004554,ZP5,PORTA DIANTEIRA SOLDA - RESPINGO,4,6/12/2023 06:12:30,PORTA,DIANTEIRA SOLDA - RESPINGO
4,2023-2056234,2R2R,DHS,PCEQS114,2020297,ZP5,CINTO DE SEGURANÇA - FIXAÇÃO ASSOALHO ROSCA NOK,2,5/12/2023 21:12:33,CINTO,DE SEGURANÇA - FIXAÇÃO ASSOALHO ROSCA NOK
5,2023-2056234,2R2R,DHS,PCEQS620,2058570,ZP6,MÓDULO DO ACC (13) PEÇA INCORRETA ¨,9830946,20/5/2024 20:05:56,MÓDULO,DO ACC (13) PEÇA INCORRETA ¨
6,2023-2056234,2R2R,DHS,PCEQS999,2087715,ESPC,TAMPA TRASEIRA 05. SUJEIRA NA PINTURA,1,11/4/2024 12:04:40,TAMPA,TRASEIRA 05. SUJEIRA NA PINTURA
7,2023-2316417,0Q0Q,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,-2,7/11/2023 16:11:22,TESTE,ELETRÔNICO (IBN_3) NOK
8,2023-2316420,0Q0Q,DHS,STOL,FHQWRAP,ZP6,TESTE ELETRÔNICO (IBN_3) NOK,-2,7/11/2023 16:11:04,TESTE,ELETRÔNICO (IBN_3) NOK
9,2023-3016123,2R2R,CWL,HCEQS506,1984195,ZP7,MAÇANETA EXTERNA ENROSCA,4,7/8/2023 12:08:25,MAÇANETA,EXTERNA ENROSCA
10,2023-3016123,2R2R,CWL,HCEQS506,1984195,ZP7,REVESTIMENTO INFERIOR COLUNA B DESVIO DE TONAL...,2,7/8/2023 12:08:57,REVESTIMENTO,INFERIOR COLUNA B DESVIO DE TONALIDADE / COR
11,2023-3016123,2R2R,CWL,HCEQS506,1984195,ZP7,VEDAÇÃO TUBO DA SOLEIRA(ESTRIBO) AJUSTE INCORRETO,2,7/8/2023 12:08:09,VEDAÇÃO,TUBO DA SOLEIRA(ESTRIBO) AJUSTE INCORRETO
12,2023-3016123,2R2R,CWL,PCEQS709,2049732,ROD,REVESTIMENTO COLUNA A RUÍDO (-),2,7/8/2023 14:08:11,REVESTIMENTO,COLUNA A RUÍDO (-)
13,2023-3016194,0Q0Q,DHS,HCEQS506,2011980,ZP7,PORTA DIANTEIRA PVC DANIFICADO,4,16/8/2023 06:08:13,PORTA,DIANTEIRA PVC DANIFICADO
14,2023-3016194,0Q0Q,DHS,PCEQS103,4002712,ZP5,PAINEL LATERAL 04. CAROÇO / PICO,2,2/8/2023 11:08:50,PAINEL,LATERAL 04. CAROÇO / PICO
15,2023-3016194,0Q0Q,DHS,PCEQS103,4002712,ZP5,PAINEL LATERAL 04. CAROÇO / PICO,2,2/8/2023 11:08:51,PAINEL,LATERAL 04. CAROÇO / PICO
16,2023-3016194,0Q0Q,DHS,PCEQS103,4002712,ZP5,PAINEL LATERAL 04. CAROÇO / PICO,2,2/8/2023 11:08:52,PAINEL,LATERAL 04. CAROÇO / PICO
17,2023-3016194,0Q0Q,DHS,PCEQS103,4002712,ZP5,PAINEL LATERAL 04. CAROÇO / PICO,2,2/8/2023 11:08:53,PAINEL,LATERAL 04. CAROÇO / PICO
18,2023-3016194,0Q0Q,DHS,PCEQS103,4002712,ZP5,PAINEL LATERAL 04. CAROÇO / PICO,2,2/8/2023 11:08:54,PAINEL,LATERAL 04. CAROÇO / PICO
19,2023-3016194,0Q0Q,DHS,PCEQS103,4002712,ZP5,TAMPA TRASEIRA 04. CAROÇO / PICO,1,2/8/2023 11:08:47,TAMPA,TRASEIRA 04. CAROÇO / PICO
20,2023-3016194,0Q0Q,DHS,PCEQS103,4002712,ZP5,TAMPA TRASEIRA 04. CAROÇO / PICO,1,2/8/2023 11:08:48,TAMPA,TRASEIRA 04. CAROÇO / PICO

In [13]:
df['PEÇA'].value_counts() # Contando os valores da coluna peça

PEÇA
PAINEL           225362
PORTA            150696
TAMPA            140401
PARALAMA          53028
TETO              52924
                  ...
DRENO                 1
COIFA/                1
09.                   1
32.                   1
BATENTE/APOIO         1
Name: count, Length: 302, dtype: int64

In [14]:
# Converter a coluna 'DATA' para o tipo datetime
df['DATA'] = pd.to_datetime(df['DATA'], dayfirst=True)

# Extrair o mês e o ano
df['MES_ANO'] = df['DATA'].dt.to_period('M')

# Contar os meses presentes
contagem_meses = df['MES_ANO'].value_counts().sort_index()

print(contagem_meses)

MES_ANO
2023-07       169
2023-08     29612
2023-09     36857
2023-10     43848
2023-11     62782
2023-12     16784
2024-01     35925
2024-02     49876
2024-03     31490
2024-04     69908
2024-05     95371
2024-06    101827
2024-07    121166
2024-08     60384
Freq: M, Name: count, dtype: int64

In [15]:
df.shape # Mostrando a quantidade de linhas x colunas

(755999, 12)

In [16]:
# Verificando os KNR's por ano
count_starts_with_2024 = df['KNR'].str.startswith('2024').sum()
print("Número de KNRs de 2024:", count_starts_with_2024)
count_starts_with_2023 = df['KNR'].str.startswith('2023').sum()
print("Número de KNRs de 2023:", count_starts_with_2023)

Número de KNRs de 2024: 569005
Número de KNRs de 2023: 186994

In [21]:
# Converter a coluna S_GROUP_ID para string
df['S_GROUP_ID'] = df['S_GROUP_ID'].astype(str)

# Pivot table para HALLE
pivot_halle = df.pivot_table(index='KNR', columns='HALLE', aggfunc='size', fill_value=0)

# Pivot table para S_GROUP_ID
pivot_sgroup = df.pivot_table(index='KNR', columns='S_GROUP_ID', aggfunc='size', fill_value=0)

# Concatenar as duas pivot tables
result_df = pd.concat([pivot_halle, pivot_sgroup], axis=1)

# Renomear as colunas para diferenciar HALLE e S_GROUP_ID
result_df.columns = [f'QTD_HALLE_{col}' for col in pivot_halle.columns] + [f'QTD_SGROUP_{col}' for col in pivot_sgroup.columns]

In [22]:
# Agrupar os HALLEs por S_GROUP_ID e contar as ocorrências
agrupamento_halle_sgroup = df.groupby('S_GROUP_ID')['HALLE'].value_counts().unstack(fill_value=0)

# Exibir o DataFrame resultante
agrupamento_halle_sgroup.head(20)

HALLE,,AGUA,BUY,CAB,DKA,ESPC,PROC,PROF,PVC,ROD,...,TLUI,ZP5,ZP5A,ZP6,ZP61,ZP62,ZP7,ZP8,ZP82,ZP8R
S_GROUP_ID,,,,,,,,,,,,,,,,,,,,,
#MULTIVALUE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,47,0,0
-2,0,0,11,189,0,75,0,0,0,245,...,0,0,177,16505,0,469,13,11579,0,7
1,9,973,378,0,363,2102,1,2,247,1524,...,6,6217,9571,1495,4828,506,81896,931,0,68
133,1,0,755,167,6,755,0,0,0,11,...,0,91,6,1539,0,435,285,157,0,638
137,0,0,5,2,0,19,0,0,0,60,...,0,1,0,70,0,32,8,0,0,0
140,128,0,30,0,0,12,0,0,0,1,...,0,0,0,466,0,12,297,336,1,1
2,68,109,979,423,1454,4399,0,10,706,4591,...,717,59143,64103,1613,0,926,175813,471,0,105
4,65,1153,28,10,870,2779,2519,2,329,1654,...,0,17924,47626,792,1879,328,93342,544,1,69
5,62,10,183,1078,706,1617,0,3,289,386,...,0,14172,30197,2719,1026,475,53524,4329,0,37
9830946,0,0,4411,302,0,25,11,0,0,4,...,0,0,0,696,0,148,2,0,0,16

In [23]:
result_df.head() # Resultado da tabela pivotada

,QTD_HALLE_,QTD_HALLE_AGUA,QTD_HALLE_BUY,QTD_HALLE_CAB,QTD_HALLE_DKA,QTD_HALLE_ESPC,QTD_HALLE_PROC,QTD_HALLE_PROF,QTD_HALLE_PVC,QTD_HALLE_ROD,...,QTD_SGROUP_#MULTIVALUE,QTD_SGROUP_-2,QTD_SGROUP_1,QTD_SGROUP_133,QTD_SGROUP_137,QTD_SGROUP_140,QTD_SGROUP_2,QTD_SGROUP_4,QTD_SGROUP_5,QTD_SGROUP_9830946
KNR,,,,,,,,,,,,,,,,,,,,,
2023-2056234,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0,0,1,0,0,0,1,2,1,1
2023-2316417,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
2023-2316420,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
2023-3016123,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,3,1,0,0
2023-3016194,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0,0,4,0,0,0,7,2,0,0

In [24]:
result_df.reset_index(inplace=True)  # Reseta o índice do DataFrame e transforma o índice antigo em uma coluna

In [25]:
result_df.head()

,KNR,QTD_HALLE_,QTD_HALLE_AGUA,QTD_HALLE_BUY,QTD_HALLE_CAB,QTD_HALLE_DKA,QTD_HALLE_ESPC,QTD_HALLE_PROC,QTD_HALLE_PROF,QTD_HALLE_PVC,...,QTD_SGROUP_#MULTIVALUE,QTD_SGROUP_-2,QTD_SGROUP_1,QTD_SGROUP_133,QTD_SGROUP_137,QTD_SGROUP_140,QTD_SGROUP_2,QTD_SGROUP_4,QTD_SGROUP_5,QTD_SGROUP_9830946
0,2023-2056234,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,1,0,0,0,1,2,1,1
1,2023-2316417,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
2,2023-2316420,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
3,2023-3016123,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,3,1,0,0
4,2023-3016194,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0,0,4,0,0,0,7,2,0,0

In [26]:
total_zp7 = (df['HALLE'] == 'ZP7').sum()  # Conta as ocorrências de 'ZP7' na coluna 'HALLE' do DataFrame original
print(f"Total de ocorrências de ZP7 no df antigo: {total_zp7}")

total_zp7_pivot = result_df['QTD_HALLE_ZP7'].sum()  # Soma os valores na coluna 'QTD_HALLE_ZP7' do DataFrame pivot
print(f"Total de ocorrências de ZP7 no df pivot: {total_zp7_pivot}")

Total de ocorrências de ZP7 no df antigo: 405180
Total de ocorrências de ZP7 no df pivot: 405180.0

In [27]:
motor_cor_df = df.groupby('KNR')[['MOTOR', 'COR']].first().reset_index()  # Agrupa por 'KNR', pega o primeiro 'MOTOR' e 'COR', e reseta o índice
pivot_df = pd.merge(result_df, motor_cor_df, on='KNR', how='left')        # Faz um merge de 'result_df' com 'motor_cor_df' com base em 'KNR'

In [28]:
motor_cor_df # Verificando as colunas que queremos

                KNR MOTOR   COR
0      2023-2056234   DHS  2R2R
1      2023-2316417   DHS  0Q0Q
2      2023-2316420   DHS  0Q0Q
3      2023-3016123   CWL  2R2R
4      2023-3016194   DHS  0Q0Q
...             ...   ...   ...
87402  2024-3516493   DHS  0Q0Q
87403  2024-3716001   DHS  2R2R
87404  2024-3716002   DHS  K2K2
87405  2024-3876001   CWL  O7O7
87406  2024-4876001   CWL  O7O7

[87407 rows x 3 columns]

In [29]:
pivot_df # Observando a tabela pivotada

,KNR,QTD_HALLE_,QTD_HALLE_AGUA,QTD_HALLE_BUY,QTD_HALLE_CAB,QTD_HALLE_DKA,QTD_HALLE_ESPC,QTD_HALLE_PROC,QTD_HALLE_PROF,QTD_HALLE_PVC,...,QTD_SGROUP_1,QTD_SGROUP_133,QTD_SGROUP_137,QTD_SGROUP_140,QTD_SGROUP_2,QTD_SGROUP_4,QTD_SGROUP_5,QTD_SGROUP_9830946,MOTOR,COR
0,2023-2056234,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,0,0,1,2,1,1,DHS,2R2R
1,2023-2316417,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,DHS,0Q0Q
2,2023-2316420,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,DHS,0Q0Q
3,2023-3016123,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,3,1,0,0,CWL,2R2R
4,2023-3016194,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,4,0,0,0,7,2,0,0,DHS,0Q0Q
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87402,2024-3716002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,1,1,0,DHS,K2K2
87403,2024-3876001,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,CWL,O7O7
87404,2024-4876001,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,1,0,0,0,0,CWL,O7O7
87405,2024-0756237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,1,0,0,0,CWL,2R2R
87406,2024-1236481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,DHS,K2K2

In [30]:
pivot_df['MOTOR'] = pivot_df['MOTOR'].replace(r'^\s*$', np.nan, regex=True) # Substitui valores vazios ou espaços em branco na coluna 'MOTOR' por NaN

In [31]:
# Obter uma lista de todas as colunas do DataFrame
cols = pivot_df.columns.tolist()

# Definir a nova ordem das colunas
# Certifique-se de incluir 'QTD_FALHAS_SEM_HALLE' apenas uma vez, no final
new_order = ['KNR', 'MOTOR', 'COR'] + \
            [col for col in cols if col not in ('KNR', 'MOTOR', 'COR')]  # Garante que 'QTD_FALHAS_SEM_HALLE' seja incluída uma vez

# Aplicar a nova ordem ao DataFrame
pivot_df = pivot_df[new_order]

In [32]:
# Verificando as colunas atuais no DataFrame
pivot_df

,KNR,MOTOR,COR,QTD_HALLE_,QTD_HALLE_AGUA,QTD_HALLE_BUY,QTD_HALLE_CAB,QTD_HALLE_DKA,QTD_HALLE_ESPC,QTD_HALLE_PROC,...,QTD_SGROUP_#MULTIVALUE,QTD_SGROUP_-2,QTD_SGROUP_1,QTD_SGROUP_133,QTD_SGROUP_137,QTD_SGROUP_140,QTD_SGROUP_2,QTD_SGROUP_4,QTD_SGROUP_5,QTD_SGROUP_9830946
0,2023-2056234,DHS,2R2R,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,1,0,0,0,1,2,1,1
1,2023-2316417,DHS,0Q0Q,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
2,2023-2316420,DHS,0Q0Q,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
3,2023-3016123,CWL,2R2R,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,3,1,0,0
4,2023-3016194,DHS,0Q0Q,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0,0,4,0,0,0,7,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87402,2024-3716002,DHS,K2K2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,1,1,0
87403,2024-3876001,CWL,O7O7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
87404,2024-4876001,CWL,O7O7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
87405,2024-0756237,CWL,2R2R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,0
87406,2024-1236481,DHS,K2K2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,0,0

In [33]:
# Adicionando colunas vazias se não existirem
for col in ['MOTOR', 'COR']:
    if col not in result_df.columns:
        result_df[col] = None

In [34]:
# Obtendo a lista atual de colunas
cols = result_df.columns.tolist()

# Definindo a nova ordem das colunas
new_order = ['KNR', 'MOTOR', 'COR'] + \
            [col for col in cols if col not in ('KNR', 'MOTOR', 'COR')]

# Reorganizando o DataFrame
result_df = result_df[new_order]

In [35]:
result_df.head()

,KNR,MOTOR,COR,QTD_HALLE_,QTD_HALLE_AGUA,QTD_HALLE_BUY,QTD_HALLE_CAB,QTD_HALLE_DKA,QTD_HALLE_ESPC,QTD_HALLE_PROC,...,QTD_SGROUP_#MULTIVALUE,QTD_SGROUP_-2,QTD_SGROUP_1,QTD_SGROUP_133,QTD_SGROUP_137,QTD_SGROUP_140,QTD_SGROUP_2,QTD_SGROUP_4,QTD_SGROUP_5,QTD_SGROUP_9830946
0,2023-2056234,None,None,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,0,1,0,0,0,1,2,1,1
1,2023-2316417,None,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
2,2023-2316420,None,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,0,0,0
3,2023-3016123,None,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,3,1,0,0
4,2023-3016194,None,None,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0,0,4,0,0,0,7,2,0,0

In [36]:
pivot_df.columns

Index(['KNR', 'MOTOR', 'COR', 'QTD_HALLE_', 'QTD_HALLE_AGUA', 'QTD_HALLE_BUY',
       'QTD_HALLE_CAB', 'QTD_HALLE_DKA', 'QTD_HALLE_ESPC', 'QTD_HALLE_PROC',
       'QTD_HALLE_PROF', 'QTD_HALLE_PVC', 'QTD_HALLE_ROD', 'QTD_HALLE_RUID',
       'QTD_HALLE_TLUI', 'QTD_HALLE_ZP5', 'QTD_HALLE_ZP5A', 'QTD_HALLE_ZP6',
       'QTD_HALLE_ZP61', 'QTD_HALLE_ZP62', 'QTD_HALLE_ZP7', 'QTD_HALLE_ZP8',
       'QTD_HALLE_ZP82', 'QTD_HALLE_ZP8R', 'QTD_SGROUP_#MULTIVALUE',
       'QTD_SGROUP_-2', 'QTD_SGROUP_1', 'QTD_SGROUP_133', 'QTD_SGROUP_137',
       'QTD_SGROUP_140', 'QTD_SGROUP_2', 'QTD_SGROUP_4', 'QTD_SGROUP_5',
       'QTD_SGROUP_9830946'],
      dtype='object')

In [37]:
pivot_df.loc[:, 'TEM_FALHA_ROD'] = np.where(pivot_df['QTD_HALLE_ROD'] > 0, 1, 0)  # Cria a coluna 'TEM_FALHA_ROD' com valor 1 se 'QTD_HALLE_ROD' > 0, caso contrário, 0

/tmp/ipykernel_62481/1997910767.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pivot_df.loc[:, 'TEM_FALHA_ROD'] = np.where(pivot_df['QTD_HALLE_ROD'] > 0, 1, 0)

In [38]:
pivot_df

,KNR,MOTOR,COR,QTD_HALLE_,QTD_HALLE_AGUA,QTD_HALLE_BUY,QTD_HALLE_CAB,QTD_HALLE_DKA,QTD_HALLE_ESPC,QTD_HALLE_PROC,...,QTD_SGROUP_-2,QTD_SGROUP_1,QTD_SGROUP_133,QTD_SGROUP_137,QTD_SGROUP_140,QTD_SGROUP_2,QTD_SGROUP_4,QTD_SGROUP_5,QTD_SGROUP_9830946,TEM_FALHA_ROD
0,2023-2056234,DHS,2R2R,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0,1,0,0,0,1,2,1,1,0
1,2023-2316417,DHS,0Q0Q,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
2,2023-2316420,DHS,0Q0Q,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
3,2023-3016123,CWL,2R2R,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,3,1,0,0,1
4,2023-3016194,DHS,0Q0Q,0.0,0.0,0.0,0.0,0.0,4.0,0.0,...,0,4,0,0,0,7,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87402,2024-3716002,DHS,K2K2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,1,1,1,0,0
87403,2024-3876001,CWL,O7O7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
87404,2024-4876001,CWL,O7O7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,1,0,0,0,0,0
87405,2024-0756237,CWL,2R2R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
87406,2024-1236481,DHS,K2K2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,0

In [39]:
# Contando os valores únicos e quantas vezes cada um aparece na coluna 'TEM_FALHA_ROD'
valores_unicos = pivot_df['TEM_FALHA_ROD'].value_counts()

print(valores_unicos)

TEM_FALHA_ROD
0    81739
1     5668
Name: count, dtype: int64

In [40]:
pivot_df.to_parquet('falha_processadas.parquet', index=False) # Salvando o dataframe em parquet

#